@charset "UTF-8";

h1 {
    font-size: 50px;
    text-align: center;
    background-color: rgb(80, 136, 211);
    color: white;
}

.btn-cover {
    display: flex;
    width: 90%;
    height: auto;
    margin: 15px auto;
    justify-content: space-around;
    border: 5px solid gray;
}

ul {
    list-style-type: none;
}

p.btn, li.btn{
    width: 10%;
    height: 3em;
    text-align: center;
}
/* 共通設定 */
.d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9{
    display: block;
    line-height: 2.4em; /* 高さを中央揃え …難しい*/
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

/* 色の指定 */
.d1 {
    color: black;
    background-color: white;
    border: 3px solid black;
}
.d2 {
    color: white;
    background-color: black;
    border: 3px solid black;
}
.d3 {
    color: white;
    background-color: orange;
    border: 3px solid orange;
}
.d4 {
    color: white;
    background-color: blue;
    border: 3px solid blue;
}
.d5 {
    color: white;
    background-color: red;
    border: 3px dashed black;
}
.d6 {
    color: white;
    background-color: green;
    border: 3px solid green;
}
.d7 {
    color: white;
    background-color: purple;
    border: 5px double black;
}
.d8 {
    color: white;
    background-color: pink;
    border: 3px solid pink;
}
.d9 {
    color: white;
    background-color:gray;
    border: 3px solid gray;
}
/* btn1hoverデザイン */
.d1.btn1:hover {
    color:white;
    background-color: black;
}
.d2.btn1:hover {
    color:black;
    background-color: white;
}
.d3.btn1:hover {
    color:orange;
    background-color: white;
}
.d4.btn1:hover {
    color:blue;
    background-color: white;
}
.d5.btn1:hover {
    color:red;
    background-color: white;
}
.d6.btn1:hover {
    color: green;
    background-color: white;
}
.d7.btn1:hover {
    color:purple;
    background-color: white;
}
.d8.btn1:hover {
    color:pink;
    background-color: white;
}
.d9.btn1:hover {
    color: gray;
    background-color: white;
}

/* btn2hoverデザイン */
.d1.btn2:hover {
    color:white;
    background-color: black;
    transition: 1s; /* 1秒かけて変わる */
}
.d2.btn2:hover {
    color:black;
    background-color: white;
    transition: 1s; /* 1秒かけて変わる */
}
.d3.btn2:hover {
    color:orange;
    background-color: white;
    transition: 1s; /* 1秒かけて変わる */
}
.d4.btn2:hover {
    color:blue;
    background-color: white;
    transition: 1s; /* 1秒かけて変わる */
}
.d5.btn2:hover {
    color:red;
    background-color: white;
    transition: 1s; /* 1秒かけて変わる */
}
.d6.btn2:hover {
    color: green;
    background-color: white;
    transition: 1s; /* 1秒かけて変わる */
}
.d7.btn2:hover {
    color:purple;
    background-color: white;
    transition: 1s; /* 1秒かけて変わる */
}
.d8.btn2:hover {
    color:pink;
    background-color: white;
    transition: 1s; /* 1秒かけて変わる */
}
.d9.btn2:hover {
    color: gray;
    background-color: white;
    transition: 1s; /* 1秒かけて変わる */
}
/* btn3hoverデザイン */
.btn3:hover {
    text-decoration: underline;
}
/* btn4hoverデザイン */
.btn4:hover {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}
/* btn5hoverデザイン */
.btn5:hover {
    letter-spacing: 7px;
    transition: 0.6s;
}
/* btn6hoverデザイン */
.btn6:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/* btn7hoverデザイン */
.btn7:hover {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
/* btn8hoverデザイン */
.btn8:hover {
    border-radius: 30px;
    transition: 0.6s;
}
/* btn1デザイン なし*/
/* btn2デザイン 角を少し丸く*/
.d2 {
    border-radius: 13px;
}
/* btn3デザイン 丸ボタン ボタン8だけhover時反転*/
.d3 {
    border-radius: 50px;
}
.btn8.d3:hover {
    border-radius: 0px;
    transition: 0.6s;
}
/* btn4デザイン 右と下に5pxの影を付けて影の色をrgb(165, 165, 240)に指定 */
.d4 {
    box-shadow: 5px 5px rgb(165, 165, 240);
}
/* btn5デザイン 左と上に5pxの影を付けて3px分ぼかし影の色をrgb(243, 195, 195)に指定 */
.d5 {
    box-shadow: -5px -5px 3px rgb(243, 195, 195);
}
/* btn6デザイン border-bottomで立体感を出して、hover時に押し込み感を出す*/
.d6 {
    box-shadow: 0 5px rgb(115, 189, 115);
}
.d6:hover {
    margin-top: 3px;
    box-shadow: 0 2px rgb(115, 189, 115);
}
/* btn7デザイン */
.d7 {
    border-radius: 50%;
}
/* btn8デザイン */
.d8 {
    border-radius: 50%;
    line-height: 100px;
}
/* btn9デザイン */
.d9 {
    border: none;
    border-radius: 50%;
    line-height: 100px;
    border-bottom: 5px solid rgb(219, 215, 215);
}
.d9:hover {
    margin-top: 3px;
    border-bottom: 2px solid rgb(219, 215, 215);
}



footer {
    color: white;
    background-color: black;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}