@charset "UTF-8";

h1 {
    font-size: 50px;
    text-align: center;
    background-color: rgb(80, 136, 211);
    color: white;
}

.btn-cover {
    display: flex;
    width: 90%;
    margin: 15px auto;
    justify-content: space-around;
    border: 5px solid gray;
}

ul {
    list-style-type: none;
}

p.btn, li.btn{
    width: 15%;
    height: 3em;
    text-align: center;
    border: 2px solid brown;
}

.d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9{
    display: block;
    line-height: 3em; /* 高さを中央揃え */
    text-decoration: none;
    border: 1px solid red;
}

footer {
    color: white;
    background-color: black;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}